body {
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: teal;
  }

  h1 {
    font-size: 60px;
    margin: 0px;
    padding: 0px;
  }
  
  div.wrap {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
  }
  
  div.wrap div {
    position: relative;
    margin: 50px 0;
  }
  
  
  .active {
    top: -25px;
    font-size: 20px;
  }
  
  input[type=text]{
    width: 100%;
    padding: 20px;
    border: 1px solid white;
    font-size: 20px;
    background-color: teal;
    color: white;
  } 

  input[type=text]:focus {
    outline: none;
  }
  button {
	border-radius: 20px;
	border: 1px solid gray;
	background-color:gray;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}